<h4>Email Already Registered</h4>
<p>Your email <strong><%= email %></strong> is already Registered</p>
<p>
  If you don't know your password please visit the
  <a href="<%= origin %>/account/forgot-password">forgot password</a> page.
</p>
