<h4>Verify Email</h4>
<p>Thanks for registering!</p>
<p>Please click the below link to verify your email address:</p>
<p>
  <a href="<%= origin %>/api/student/verify-email?token=<%= token %>"
    ><%= origin %>/api/student/verify-email?token=<%= token %></a
  >
</p>
