PORT=5000

# // Default is `development`
# NODE_ENV='production'

# // Default Value for Database
# DB_HOST='localhost'
# DB_USER=process.env.USER
# DB_PASS=null
# DB_NAME=process.env.USER

ACCESS_TOKEN_SECRET=<SECRET STRING HERE>
REFRESH_TOKEN_SECRET=<SECRET STRING HERE>

EMAIL_FROM="Mugilan E.S. <mugilancodes@gmail.com>"

SMTP_HOST="[ENTER YOUR OWN SMTP OPTIONS OR CREATE FREE TEST ACCOUNT IN ONE CLICK AT https://ethereal.email/]"
SMTP_PORT=587
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""

MAIL_USERNAME="<Your Email Here>"
MAIL_PASSWORD="<Your Password>"

OAUTH_CLIENTID=<Client_ID_from_Dev_Console>
OAUTH_CLIENT_SECRET=<Client_Secret_from_Dev_Console>
OAUTH_REFRESH_TOKEN=<OAuth_Refresh_Token>